* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 1em;
    line-height: 1.4em;
    box-sizing: border-box;
    font-family: 'montserrat';
  }
  
  /* Parte del index */
  
  .bodyMenuPrincipal{
    background-color: gainsboro;

    .texto{
        display: flex;
        justify-content: center;
        background-color: black;
        color: white;
        padding: 0.5em;
        padding-right: 0%;
        font-size: 0.85em;
      }

    section{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        background: gainsboro;
        transition: 0.3s all;
        display: block;
        clear: both;
        position: relative;
      }

      .h1Index{
        background-color: gainsboro;
        display: block;
        font-size: 2em;
        font-weight: bold;
        margin-top: 1%;
        text-align: center;
        
        a{
          color: green;
          background-color:gainsboro;
          font-size: 80%;
          text-decoration: none;
        }
      }
  }
  
  .divMenuPrincipal{
    background-color: white;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  

    .navbar{
        margin-bottom: 0.5%;
        margin-top: 1%;
        background-color: white;
        display: flex;
        justify-content: center;
    }

}

.fotoBanner{
    width: 100%;
}

    .quienesSomos{
        background-color: gainsboro;
        margin-top: 7%;

        .container{
            background-color: gainsboro;
            margin-top: 1%;
        }

    }


  /* Parte Iniciar Sesion */
  
.bodyUsuario{
  
  .tituloUsuario{
      background-color: gainsboro;
      font-size: 2em;
      font-weight: normal;
      margin: 1em 0;
      display: flex;
      justify-content: center;
    }
    
    .ingresarDatos{
      width: 100%;
      padding: 1em;
      width: 980px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      clear: both;
      position: relative;
      background-color: white;
    }
    
    #user{
      display: flex;
      justify-content: center;
      
      form {
          padding: 2em;
          color: #fff;
          margin-bottom: 2em;
          width: 28em;
          position: relative;
      }
    
          form.registro {
              background: #210dbb;
          }
    
      .active .divRegistro {
          display: block;
      }
    
      .divRegistro {
          display: none;
      }
    
          h3 {
              margin: 1em 0 2em;
              font-size: 1em;
          }
    
      .filas {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
      }
      
      p{
          margin: 1em 0;
          clear: both;
          position: relative;
      }

    
      form input, #user form select {
          background-color: rgba(255,255,255,0.9);
          color: #000;
          border: none;
          border-bottom: 2px solid #fff;
          margin: 0.5em 0;
      }
    
      input, textarea {
          background: none;
          border: 1px solid #cecece;
          padding: 0.5em;
          width: 100%;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
      }
    
      form.ingresar {
          background: green;
      }

    }
  }
  
  
  /* Parte productos */
  
  .bodyProductos{
    
    .tituloProductos{
      background-color: gainsboro;
      color:black;
      text-align: center;
      font-size: 150%;
    }
    
    .fotoBanner{
      width: 100%;
    }
    
  .fotosProductos{

    .fotosVerduras{
        display: flex; flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-inline: 5%;
        padding: 3%;    
        
        img{
          width: 30%;
          padding: 1rem;
      }
    }
      
      .tituloFotos{
        background-color: green;
        display: flex;
        flex: auto;
        justify-content: center;
        font-size: 200%;
      }
    
    }
   
  }

  /* Parte envios */

  .bodyEnvios{
    
    section#servicios{
      grid-area: servicios;
      justify-items:center;
    }
    
    .tituloServicios{
      color:green;
      background-color: gainsboro;
      display: flex;
      justify-content: center;
      font-size: 150%;
      margin-top: 0.5%;
    }
    
    section#zonas{
      background-color: gainsboro;
    }
    
    .tituloCarousel{
      background-color:black;
      color: green;
    }

  }

  
  
  /* Parte Contacto */
  
  .bodyContacto{
    
    .tituloContacto{
      display: flex;
      justify-content: center;
      color: green;
      background-color: gainsboro;
      font-size: 120%;
      padding-bottom: 1%;
    }

    .row{
      padding: 1%;
    }

    .divFooter{
      padding: 0%;
    }
      
  
  }

  @media (max-width: 935px) {
    .bodyContacto {
      
      #consulta{
        width: 75%; 
     } 


    }
    
  
  }
  
  
  /* FIN */